<div id="{{task.id}}" ng-hide="$parent.hideCompletedTasks && task.status=='completed' " ng-class="{completed: task.status=='completed'}"  class="card hoverable row valign-wrapper task-card clickable" ng-dblclick="showDetails()">
  <a class="col checkbox nonselectable" href ng-click="toggleTask()">
    <img src="/assets/icons/check.svg">
  </a>
  <div class="card-title col" ng-class="{due: task.overdue && task.status!='completed'}">
    {{task.title}}
  </div>
  <div class="col duedate" ng-class="{due: task.overdue && task.status!='completed'}">
    {{task.due | date:'MMMM dd, yyyy'}}
  </div>
  <a class="col delete nonselectable" href ng-click="deleteTask()"></a>
</div>

<form id="modal{{task.id}}"  ng-submit="updateTask()" class="modal modal-fixed-footer">
  <drop-zone id="multifile-drop" task="task" class="modal-content">
    <div id="drop-indicator" class="overlay">

    </div>
    <div id="{{task.id}}" ng-class="{completed: task.status=='completed'}"  class="row task-card" ng-dblclick="showDetails()">
      <div class="task-header valign-wrapper col s12 row">
        <a class="col checkbox nonselectable" href ng-click="toggleTask()">
          <img src="/assets/icons/check.svg">
        </a>
        <input class="subtle card-title col nonselectable" type="text" autocomplete="off" ng-model="task.title">
        <a class="col delete nonselectable" href ng-click="deleteTaskModally()"></a>
      </div>
      <hr>

      <div class="row task-body">
        <div class="input-field col s12">
          <h5>Due Date</h5>
          <input id="dueDate{{task.id}}" type="text" placeholder="Remind me :-)" value="{{task.due | date:'MMMM dd, yyyy'}}" >
        </div>
        <div class="input-field col s12">
          <h5>Description</h5>
          <textarea id="description{{task.id}}" class="materialize-textarea description" placeholder="Your description ..." ng-model="task.description"></textarea>
        </div>
      </div>
    </div>
  </drop-zone>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="updateTask()">Fertig</a>
  </div >
</form>
